
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<p>
    School : Narinda Govt. High School, Dhaka
    College: Government Science College, Dhaka
    University: American International University-Bangladesh

</p>

